.header-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom-color: rgb(226, 100, 55);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: left;
    width: auto;
}

.box-icon {
    width: 15vw;
}

.middle-section {
    display: flex;
    flex-direction: row;
    flex: 1;

}

.name-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico', Arial;
    color: coral;
    font-weight: 700;
    font-size: 7vw;
    line-height: 50%;
    padding: 1vw 0vw;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: right;
    width: auto;
}

.menu-icon {
    width: 15vw;
}